@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Во время обработки Вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

    <h3>Режим разработки</h3>
    <p>
        При переключении в среду <strong>Разработка</strong> будет отображаться более подробная информация об ошибке. 
    </p>
    <p>
        <strong>Среда разработки не должна быть включена в развернутых приложениях</strong>, так как это может привести к тому, что конфиденциальная информация из исключений будет отображаться для конечных пользователей. Для локальной отладки среды разработки можно включить, установив переменную окружения <strong>ASPNETCORE_ENVIRONMENT</strong> в <strong>Разработке</strong> и перезапустив приложение. 
    </p>
