@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<a asp-action="UserList" asp-controller="User" title="Назад" style="position:relative; top:25px"><img src='~/images/material/back.png' alt="Назад" class='icon2'></a>

<br />

<h2 style="color:#066023;">Изменение параметров аккаунта  @ViewData["FullName"]</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

